@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
	text-align: center;
	background-color: black;
	color: white;
}
